.filters {
    @extend %list;
    @include flexCenter;
    margin-bottom: 50px;

    &-item {
        display: inline-block;
    }
    
    &-item + &-item {
        margin-left: 8px;
    }
}

.button { 
    font-size: 16px;
    line-height: 1.63;

    &-input {
        @extend %visually-hidden;
    }
}

.button-label {
    display: inline-block;
    padding: 6px 22px;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
  
    color: $title-color;
    background-color: $secondary-background-color;
  
    font-weight: 500;
  
    transition: color 250ms $timing-function,
    background-color 250ms $timing-function,
    box-shadow 250ms $timing-function;

    .button-input:checked + &,
    .filters-item:hover &,
    .filters-item:focus & {
        color: $contrast-color;
        background-color: $accent-color;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 3px 1px rgba(0, 0, 0, 0.1);
    }
}