%list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%autoCenter {
    margin-right: auto;
    margin-left: auto;
}
    
%container {
    @extend %autoCenter;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

%containerPadding {
    padding-top: 94px;
    padding-bottom: 94px;
}
  
%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

%contrast-title {
    margin-top: 0;
    margin-bottom: 0;
  
    color: $contrast-color;
  
    text-align: center;
    text-transform: uppercase;
}

%primary-title {
    margin-top: 0;
    margin-bottom: 50px;
  
    color: $title-color;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

%input-field {
    padding: 12px 16px 12px 42px;

    border: 1px solid;
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);

    transition: borger-color 250ms $timing-function;     
    cursor: pointer;
}