.page-header {
    border-bottom: 1px solid #ececec;
}

.header {
    @extend %container;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60px;
}

.header,
.site-nav,
.contacts {
    // @include flexCenter;
}


// Навигация сайта
.site-nav {
    @extend %list;
    margin-bottom: 60px;

    // &-item + &-item {
    //     margin-left: 50px;
    // }

    &-item {
        text-align: center;
        margin-bottom: 40px;
    }
}

.link {
    color: $title-color;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms $timing-function;
    

    .site-nav &:hover,
    .site-nav &:focus,
    .contacts &:hover,
    .contacts &:focus,
    &.curent {
        color: $accent-color;
    }
}

.site-nav .link {
    position: relative;
  
    display: inline-block;
    // padding-top: 32px;
    // padding-bottom: 32px;
    text-align: center;
} 
  
.curent::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -100%;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
}

// Контакты
.contacts {
    @extend %list;

    margin-left: auto;

    &-item {
        text-align: center;
        margin-bottom: 16px;
    }

    // &-item + &-item {
    //     margin-left: 30px;
    // }

    // &-item {
    //     @include flexCenter(inline-flex);
    // }
}

.contacts .link {    
    // @include flexCenter(inline-flex);
    color: $text-color; 
}

.cotacts-icon {
    margin-right: 10px;
    fill: currentColor;
}