.team-section {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    background-color: $secondary-background-color;
}

.team {
    @extend %container;
    @extend %containerPadding;

    &-title {
        @extend %primary-title;
    }

    &-list {
        @extend %list;
        
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }

        @media screen and (min-width: $desktop) {
            margin: 0;
            justify-content: space-between;
        }
    }
}

.team-item {
    margin-bottom: 30px;

    background-color: $contrast-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: $tablet) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 3 * 30px) / 4);
        margin: 0;
    } 
}

.member-profile {
    padding: 30px 32px 24px;

    &-title {
        @extend %primary-title;

        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
    }
}

.profession {
    margin-top: 0;
    margin-bottom: 16px;
}